@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
canvas {
    border: 5px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-image: url('img/board.jpg');
    transition: all 3s ease;
    z-index: 99;
}

.header-red {
    height: 200px;
    width: 100%;
    background-color: #e72611;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

#logo-area {
    height: 170px;
    width: 520px;
    background-image: url('img/logo_pokepang.png');
    background-size: 450px, 145px;
    background-repeat: no-repeat;
    margin-left: 80px;
}

#player-area {
    height: 100px;
    width: 650px;
}

#player-status {
    height: 100px;
    width: 400px;
    background-color: rgb(46, 46, 46);
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    border-top: 5px solid rgb(46, 46, 46);
    border-right: 10px solid rgb(46, 46, 46);
    border-left: 10px solid rgb(46, 46, 46);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#player-img {
    width: 22%;
    height: 85%;
    background-image: url('img/select_pikachu.gif');
    background-position: bottom;
    background-size: 80px, 80px;
    background-repeat: no-repeat;
    border: 5px solid rgb(46, 46, 46);
    margin-left: 10px;
}

#player-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 5px solid rgb(46, 46, 46);
}

#player-name {
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
}

#player-state {
    width: 100%;
    height: 32%;
    background-image: url('img/hearts_full.png');
    background-size: 190px 28px;
    transition: all 2s ease;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 2px;
}

#player-attack {
    width: 100%;
    height: 36%;
    background-image: url('img/power_water.png');
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}

#power-bar {
    width: 193px;
    height: 29px;
    margin-top: -5px;
    position: absolute;
    background-image: url('img/power_bar.png');
}

#massive-attack {
    width: 193px;
    height: 29px;
    position: absolute;
    font-family: 'Press Start 2P';
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}

.blinking {
    animation-name: blinking;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 10px;
    color: rgb(46, 46, 46);
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
}

@keyframes blinking {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#player-score {
    width: 25%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 32px;
    text-align: center;
    padding-top: 35px;
}

.container-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.starting-screen {
    height: 590px;
    width: 1200px;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-image: url('img/board2.jpg');
    background-size: cover;
    z-index: 100;
}

#title-characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: rgb(87, 85, 85);
    font-family: 'Press Start 2P';
    font-size: 32px;
    box-sizing: border-box;
    padding-top: 10px;
}

#selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    color: rgb(87, 85, 85);
    font-family: 'Press Start 2P';
    font-size: 32px;
    box-sizing: border-box;
    padding-top: 10px;
}

#select-characters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
}

.characters {
    width: 100px;
    height: 100px;
}

#pikachu {
    background-image: url('img/select_pikachu.gif');
    background-size: 90px, 90px;
    background-repeat: no-repeat;
    background-position: bottom;
}

#squirtle {
    background-image: url('img/select_squirtle.gif');
    background-size: 90px, 90px;
    background-repeat: no-repeat;
    background-position: bottom;
}

#charmander {
    background-image: url('img/select_charmander.gif');
    background-size: 100px, 100px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.pause-screen {
    height: 590px;
    width: 1200px;
    position: absolute;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.322);
    z-index: 101;
    font-family: 'Press Start 2P';
    color: white;
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-screen {
    height: 590px;
    width: 1197px;
    position: absolute;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.loser-screen {
    height: 590px;
    width: 1200px;
    position: absolute;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.322);
    z-index: 101;
    font-family: 'Press Start 2P';
    color: white;
    font-size: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#game-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

.btn {
    height: 100px;
    width: 200px;
    font-family: 'Press Start 2P';
    font-size: 28px;
    top: 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: all 1s ease;
    background: #e72611;
    box-shadow: 6px 6px rgb(44, 44, 44);
    color: white;
}

.btn:active {
    top: 5px;
    box-shadow: none;
}

.btn:disabled {
    background: #c91605;
    color: rgba(204, 204, 204, 0.705);
}

#btn-tryagain {
    background: rgb(46, 46, 46);
}

.left {
    height: 350px;
    width: 50%;
    margin-right: -600px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
}

.right {
    height: 350px;
    width: 50%;
    margin-left: -600px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
}

.middle-red {
    height: 250px;
    width: 100%;
    background-color: #e72611;
}

.bottom-white {
    height: 100px;
    width: 100%;
    display: flex;
    display: column;
    justify-content: center;
}

.footer-info {
    margin-top: 100px;
    font-family: 'Press Start 2P';
    text-align: center;
    color: rgb(87, 85, 85);
    font-size: 14px;
}

.disable {
    display: none;
}